*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #222;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    cursor:pointer;
    border:none;
    background: none;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    background: #1d1d1d;
    color: #fff;
    padding: 35px 25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 45px;
}

.menu-button{
    position: absolute;
    left:190px;
    top:35px;
}

.navigation{
    display:flex;
    flex-direction:column;
    gap:12px;
}
.navigation a{
    display:flex;
    align-items:center;
    gap:12px;
    color:#bfbfbf
    padding:13px 18px;
    border-radius:10px;
    transition:.3s;
    font-size:15px;
}

.navigation a:hover{
    background: #333;
    color:white
}

.navigation .active{
    background: #ff2c93;
    color: white;
}

/* FOLLOWING */
.following{
    margin-top: 60px;
}
.following p{
    color:#6b6b6b;
    font-size:12px;
    margin-bottom: 20px;
    letter-spacing:1px;
}
.user{
    display:flex;
    align-items:center;
    gap:12px;
    maargin-bottom:18px;
}

.user span{
    font-size:14px;
    color:#e3e3e3;
}
.load-more{
    display: block;
    margin-top:20px;
    color:#8b8b8b;
    font-size:13px;
}

/* MAIN CONTENT */
.main-content{
flex: 1;
padding: 35px 40px;
background: #fff;
}

/* HEADER */

.main-content{
    flex:1;
    padding: 35px 40px;
    background: #fff;
}

/* SEARCH */

.search{
    width: 340px;
    height: 45px;
    background: #f7f7f7;
    border-radius: 12px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 18px;
}

.search input{
    width:100%;
    border:none;
    outline:none;
    background: transparent;
    font-size:14px;
}

.search span{
    color:#999;
    font-size:18px;
}

/* RIGHT HEADER */
.header-right{
    display: flex;
    align-items:center;
    gap:18px;
}
.header-right a{
    color:#ff2c93;
    font-size:13px;
    font-weight:600;
}
.header-right button{
    font-size:18px;
    color:#777;
}
.profile img{
    width: 42px;
    height:42px;
    border-radius: 50%;
    object-fit:cover;
}
.upload{
    background: #ff2c93;
    color: white  !important;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.upload:hover{
    background: #e10077;
}